<header>
  <nav class="navbar">
    <div class="navbar-menu is-active">
      <div class="navbar-end">
        <a class="navbar-item" href={~p"/"}>Home</a>
        <a class="navbar-item" href={~p"/user/settings"}>Settings</a>
      </div>
    </div>
  </nav>
</header>

<main class="section">
  <.flash_group flash={@flash} />
  <%= @inner_content %>
</main>
