<header>
  <nav>
    <ul>
      <li><a href={~p"/"}>Home</a></li>
      <li><a href={~p"/settings"}>Settings</a></li>
    </ul>
  </nav>
</header>

<main>
  <.flash_group flash={@flash} />
  <%= @inner_content %>
</main>
