@import "bulma.css";

:root {
  --animation-time: 1.5s;

  /* --game-width: 600px; */
  /* --game-height: 600px; */
  --game-width: 100%;
  --game-height: 100%;

  --card-width: 60px;
  --card-height: 84px;

  --deck-x: calc(var(--card-width) / -2);
  --deck-y: 0px;

  --table-x: calc(var(--card-width) / 2);
  --table-y: 0px;

  --hand-bottom-x: 0px;
  --hand-bottom-y: calc(var(--game-height) / 2 - var(--card-height));

  --hand-left-x: calc(var(--game-width) / -2 + var(--card-height));
  --hand-left-y: 0px;

  --hand-top-x: 0px;
  --hand-top-y: calc(var(--game-height) / -2 + var(--card-height));

  --hand-right-x: calc(var(--game-width) / 2 - var(--card-height));
  --hand-right-y: 0px;

  --held-card-bottom-x: calc(var(--card-width) * 2.5);
  --held-card-bottom-y: var(--hand-bottom-y);

  --held-card-left-x: var(--hand-left-x);
  --held-card-left-y: calc(var(--card-width) * 2.5);

  --held-card-top-x: calc(var(--card-width) * -2.5);
  --held-card-top-y: var(--hand-top-y);

  --held-card-right-x: var(--hand-right-x);
  --held-card-right-y: calc(var(--card-width) * -2.5);
}

#disconnected {
  display: none !important;
}

#flash {
  margin-top: -1rem;
  margin-left: -0.5rem;
  margin-bottom: 1rem;
  background-color: antiquewhite;
  cursor: pointer;
}

.navbar-end {
  display: flex;
  justify-content: flex-end;
}

.section {
  padding-top: 2rem;
}

#game-chat-messages {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  min-height: 4rem;
  max-height: 12rem;
  background-color: #FAF9F6;
}

.join-requests {
  margin-top: 1rem;
}

.join-requests td {
  vertical-align: middle;
}

.game-svg {
  background-color: seagreen;
  width: var(--game-width);
  height: var(--game-height);
  max-width: 600px;
  max-height: 600px;
}

.game-text rect {
  fill: cyan;
}

.game-text text {
  text-anchor: middle;
  dominant-baseline: middle;
  fill: fuchsia;
  font-size: larger;
  font-weight: bold;
}

.card.playable {
  filter: url("#card-highlight");
  cursor: pointer;
}

g.hand.bottom {
  transform: translate(var(--hand-bottom-x), calc(var(--hand-bottom-y) - 10%));
}

g.hand.left {
  transform: translate(calc(var(--hand-left-x) + 10%), var(--hand-left-y))
             rotate(90deg);
}

g.hand.top {
  transform: translate(var(--hand-top-x), calc(var(--hand-top-y) + 10%)) 
             rotate(180deg);
}

g.hand.right {
  transform: translate(calc(var(--hand-right-x) - 10%), var(--hand-right-y)) 
             rotate(270deg);
}

.card.held.bottom {
  transform: translate(var(--held-card-bottom-x), var(--held-card-bottom-y));
}

.card.held.left {
  transform: translate(var(--held-card-left-x), var(--held-card-left-y))
             rotate(90deg);
}

.card.held.top {
  transform: translate(var(--held-card-top-x), var(--held-card-top-y))
             rotate(180deg);
}

.card.held.right {
  transform: translate(var(--held-card-right-x), var(--held-card-right-y))
             rotate(270deg);
}

.player-info rect {
  fill: cyan;
}

.player-info text {
  fill: fuchsia;
  text-anchor: middle;
  dominant-baseline: central;
  font-weight: bold;
}

.player-info.bottom {
  transform: translateY(calc(var(--game-height) / 2 - 5%));
}

.player-info.left {
  transform: translateX(calc(var(--game-width) / -2 + 5%))
             rotate(90deg);
}

.player-info.top {
  transform: translateY(calc(var(--game-height) / -2 + 5%));
}

.player-info.right {
  transform: translateX(calc(var(--game-width) / 2 - 5%))
             rotate(270deg);
}

/* .join-requests {
  text-align: center;
} */

/* nav ul {
  display: flex;
}

nav ul li {
  padding-right: 0.5rem;
} */

/* nav {
  margin-left: 1rem;
  margin-top: 1rem;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

nav ul li {
  padding-right: 0.5rem;
}

nav ul li a {
  text-decoration: none;
}

.game-page {
  margin-left: 1rem;
}

.join-requests-table {
  margin-top: 1rem;
  width: 33%;
  text-align: left;
}

.join-requests-table caption {
  text-align: left;
  font-weight: bold;
  font-size: large;
}

#game-chat {
  max-width: 600px;
}

#game-chat-input {
  display: block;
}

#game-chat-form {
  margin-top: 1rem;
} */
