:root {
  --animation-time: 1.5s;

  --game-width: 600px;
  --game-height: 600px;

  --card-width: 60px;
  --card-height: 84px;

  --deck-x: calc(var(--card-width) / -2);
  --deck-y: 0px;

  --table-x: calc(var(--card-width) / 2);
  --table-y: 0px;

  --hand-bottom-x: 0px;
  --hand-bottom-y: calc(var(--game-height) / 2 - var(--card-height));

  --hand-left-x: calc(var(--game-width) / -2 + var(--card-height));
  --hand-left-y: 0px;

  --hand-top-x: 0px;
  --hand-top-y: calc(var(--game-height) / -2 + var(--card-height));

  --hand-right-x: calc(var(--game-width) / 2 - var(--card-height));
  --hand-right-y: 0px;

  --held-card-bottom-x: calc(var(--card-width) * 2.5);
  --held-card-bottom-y: var(--hand-bottom-y);

  --held-card-left-x: var(--hand-left-x);
  --held-card-left-y: calc(var(--card-width) * 2.5);

  --held-card-top-x: calc(var(--card-width) * -2.5);
  --held-card-top-y: var(--hand-top-y);

  --held-card-right-x: var(--hand-right-x);
  --held-card-right-y: calc(var(--card-width) * -2.5);
}

#disconnected {
  display: none !important;
}

.game-svg {
  background-color: seagreen;
  width: var(--game-width);
  height: var(--game-height);
}

.game-text rect {
  fill: cyan;
}

.game-text text {
  text-anchor: middle;
  dominant-baseline: middle;
  background-color: aqua;
  fill: fuchsia;
  font-size: larger;
  font-weight: bold;
}

.card.highlight {
  filter: url("#highlight");
  cursor: pointer;
}

g.hand.bottom {
  transform: translate(var(--hand-bottom-x), var(--hand-bottom-y));
}

g.hand.left {
  transform: translate(var(--hand-left-x), var(--hand-left-y)) 
             rotate(90deg);
}

g.hand.top {
  transform: translate(var(--hand-top-x), var(--hand-top-y)) 
             rotate(180deg);
}

g.hand.right {
  transform: translate(var(--hand-right-x), var(--hand-right-y)) 
             rotate(270deg);
}

.card.held.bottom {
  transform: translate(var(--held-card-bottom-x), var(--held-card-bottom-y));
}

.card.held.left {
  transform: translate(var(--held-card-left-x), var(--held-card-left-y))
             rotate(90deg);
}

.card.held.top {
  transform: translate(var(--held-card-top-x), var(--held-card-top-y))
             rotate(180deg);
}

.card.held.right {
  transform: translate(var(--held-card-right-x), var(--held-card-right-y))
             rotate(270deg);
}