<div>
  <h2 class="title block">Settings</h2>

  <.form class="block" for={%{}} action={~p"/update_username"}>
    <div class="field">
      <label class="label" for="username">Username</label>
      <div class="control">
        <input class="input" name="username" value={@user.username} required />
      </div>
    </div>
    <div class="control">
      <button class="button is-link">Update</button>
    </div>
  </.form>
</div>
